* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-family: "Raleway", sans-serif;
}
h3 {
  font-family: "Raleway", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}

header h3 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 20px;
  text-align: center;
}

.pads {
  background: lightblue;
  width: 100%;
  display: flex;
}

.pads > div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1 {
  background: #47a5cc;
}
.pad2 {
  background: #5194cc;
}
.pad3 {
  background: #5b82cc;
}
.pad4 {
  background: #6671cc;
}
.pad5 {
  background: #705fcc;
}
.pad6 {
  background: #7a4ecc;
}

.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  left: 20%;
  bottom: 0%;
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}
